.play-Button{
    background-image: url("../Images/Play.png");
    background-size: cover;
    background-color: #598FC2;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 100%;
} 

.pause-Button{
    background-image: url("../Images/Pause.png");
    background-size: cover;
    background-color: #598FC2;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 100%;
}

.next-Button{
    background-image: url("../Images/Next.png");
    background-size: cover;
    background-color: #518ABF;
    width: 25px;
    height: 25px;
    border: none;
}

.previous-Button{
    background-image: url("../Images/Previous.png");
    background-size: cover;
    background-color: #5A90C2 ;
    width: 25px;
    height: 25px;
    border: none;
}

.moreFifteen-Button{
    background-image: url("../Images/moreTen.png");
    background-size: cover;
    background-color: #4883BC;
    width: 30px;
    height: 30px;
    border: none;
}

.lessFifteen-Button{
    background-image: url("../Images/lessTen.png");
    background-size: cover;
    background-color: #5A90C2;
    width: 30px;
    height: 30px;
    border: none;
}

.stop-Button{
    background-image: url("../Images/Stop.png");
    background-size: cover;
    background-color: #6195C5;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 100%;
}

.allsongs-Button{
    background-image: url("../Images/AllSongsButton.png");
    background-size: contain;
    width: 270px;
    height: 40px;
    border: none;
    border-radius: 0%;
}

.rap-Button{
    background-image: url("../Images/RapButton.png");
    background-size: contain;
    width: 270px;
    height: 40px;
    border: none;
    border-radius: 0%;
}

.bachata-Button{
    background-image: url("../Images/BachataButton.png");
    background-size: contain;
    width: 270px;
    height: 40px;
    border: none;
    border-radius: 0%;
}

.soundtrack-Button{
    background-image: url("../Images/SoundtracksButton.png");
    background-size: contain;
    width: 270px;
    height: 40px;
    border: none;
}

.btn{
    background-color: white;
    color: blue;
    outline: none;
    border: 1px solid blue;
    padding: 20px;
    border-radius: 16px;
}
